*{
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
}

footer {
    background-color: #1F2937; /* Dark background */
    color: #E5E7EB; /* Make the text visible on dark background */
    text-align: center; /* Center the text */
    padding: 20px; /* Add padding for better visibility */
    margin-top: auto; /* Push the footer to the bottom */
    width: 100%; /* Ensure footer takes full width */
}

#block1 {
    background: #1F2937;
    color: white;
}



#headerLogo{
    font-size: 24px;
    color: #F9FAF8;
    flex: 2 1 0%
}

.headerLinks{
    display: flex;
    gap: 15px;
}


.headerLink{
    font-size: 18px;
    color: #E5E7EB;
}

#textContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

#tabl1{
    width: 60px;
    padding-top: 35px;
    padding-bottom: 50px;
}

#hero1{
    font-size: 24px;
    color: #F9FAF8;  
    font-weight: 900;
}

#hero2{
    font-size: 18px;
    color: #E5E7EB;
}
/* 
#left1{
    flex: .5;
} */

#right1{
    background-color: grey;
    height: 100px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex: .5; */
}



#informationHeader{
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}
#blockContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    text-align: center;
}


.imgContainer2{
    display: flex;
    justify-content: center; /* Center image horizontally */
    align-items: center; /* Center image vertically */
    border-radius: 10px;
    border: #3882F6 solid 4px;
    height: 160px;
    width: 160px;
    vertical-align: middle;
    align-items: center;
}

.blueSquare {
    height: 100%;
    width: 100%;


}
.button1{
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    border: 2px solid white;
    height: 30px;
    width: 90px;
    transition-duration: .5s;
    cursor: pointer;
}

.button1:hover{
    color: #3882F6;
    background-color: white;


}


#block2 {
    padding-top: 50px;
    padding-bottom: 70px;
}

#block3 {
    background: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: lighter;
    font-style: italic;
}

#block4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}


#callToAction{
    background-color: #3882F6;
    color: white;
    padding: 60px;
    border-radius: 12px;
    display: flex;
    gap: 200px;
    
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensures full height for the page */
    box-sizing: border-box;
}